@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.banner{
    background-image: url("https://www.zoomcar.com/img/web-new-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}